{% extends "base.html" %}

{% block content %}
<nav class="navbar navbar-dark bg-primary fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">Promgram Evaluation</a>
      <div class="offcanvas offcanvas-end text-bg-primary" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
      </div>
    </div>
</nav>
<div class="mt-5 pt-5">
  <div class="container">
      <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Update Course</h3>
          </div>
          <div class="panel-body">
              <form class="form-horizontal" method="post">
                {% csrf_token %}

                  <div class="form-group mb-4">
                    <label class="col-sm-2 control-label">Course_Id</label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control" placeholder="Course_Id" name="course_id" 
                             value="{{row_object.course_id}}"/>
                    </div>
                  </div>
                  <div class="form-group mb-4">
                    <label class="col-sm-2 control-label">Name</label>
                    <div class="col-sm-5">
                      <input type="text" class="form-control" placeholder="Name" name="name" 
                             value="{{row_object.name}}"/>
                    </div>
                  </div>

                  <div class="form-group mb-4">
                    <div class="col-sm-offset-2 col-sm-10 d-flex justify-content-between">
                      <button type="submit" class="btn btn-warning mb-2">Update</button>
                      <a class="btn btn-secondary" href="/course/">Back to Course</a>
                    </div>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>

{% endblock  %}